{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
		<title>
            {% if title %}{{ title }} - {% endif %}
            МИС ММ
        </title>
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}mobil/img/favicon/{{ FAVICON }}">


		<!-- basic styles -->
        <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{{ STATIC_URL }}bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">

		<!--[if IE 7]>
		  <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
        <script src="{{ STATIC_URL }}js/jquery-1.11.3.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

        {{ form.media }}
        {{ formset.media }}
        {% block head %}{% endblock %}
	</head>

	<body>
    {% block body %}
	{% endblock body %}
	</body>
</html>
